<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/cart.css" />
<body>
  <%- include('../partials/header') %>
  
  <div class="content">		
		<main>
			<div class="type-header">
        <h3>Tus contrataciones</h3>
      </div>


		</main>		
    <%- include('../partials/footer') %>
    <script src="/js/popup.js"></script>
</body>

</html>