<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title>Detalle de Productos</title>
</head>
<body>
  <%- include('../partials/header') %>        
    <section class="seccion-header">
        <div>
          <img src="<%= producto.imagen  %> " alt="">
        </div>
        <div class="seccion-p">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem minus inventore, ducimus sequi iusto sed quaerat ratione, quam excepturi voluptatibus quisquam quos obcaecati necessitatibus pariatur maiores impedit nulla delectus? Labore?</p>
        </div>
    </section>
  <h1><%= producto.id %> </h1>

  <%- include('../partials/footer') %>  
</body>
</html>