<!DOCTYPE html>
<html lang="es-ES">
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/shoppingCart.css" />
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="content">
        <div class="type-header">
          <h3>Tus contrataciones</h3>
        </div>
        
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/popup.js"></script>
  </body>
</html>
