@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}




.home {
  padding: 100px 20px;
}

.menu-btn {
  background: url(/images/menu.png) no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn.active {
  z-index: 999;
  background: url(/images/close.svg) no-repeat;
  background-size: 25px;
  background-position: center;
  transition: 0.3s ease;
}

.home {
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2696e9;
}

.home::before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 10px;
  display: none;
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 40px;
}

.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 65px;
}

.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #1680ac;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 60px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
}
.home .media-icons {
  right: 7px;
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: #2696e9;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.type-header {
  padding: 80px 5px;
  text-align: center;
  font-size: 1em;
}

section .container {
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: 0.5s;
}

.container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .imgBox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #2696e9, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .imgBox:before {
  opacity: 1;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
}

.container .box:hover .content h2 {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.container .box .content p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 14px;
}

.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.7s;
}

.container .box .content a {
  text-decoration: none;
}

.container .box .content a {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.button {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.button a {
  background: #2696e9;
  padding: 15px 35px;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.bookings {
  background-color: #000000;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

.trends {
  display: flex;
  flex-wrap: wrap;
}

.icons-booking {
  width: 100%;
}

.statistic {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 28px;
}

.members {
  padding: 20px 10px 30px;
  font-size: 20px;
}

.img-schedule {
  width: 100px;
  padding-top: 20px;
}

.text-booking {
  font-size: 20px;
  padding-bottom: 30px;
}

.img-micro {
  width: 60px;
  padding-top: 20px;
}

.img-star {
  width: 100px;
  padding-top: 20px;
}

.register {
  background: url(/images/home-img/bandblack.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: white;
}

.trends2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.btnReg {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.btnReg a {
  background: #2696e9;
  padding: 15px 35px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 2px;
}

.register-text {
  width: 90%;
  border: 1px white solid;
  border-radius: 10px;
  margin-bottom: 40px;
}

.register-text2 {
  width: 90%;
  border: 1px white solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

div.video-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;

  padding-top: 40px;
}

div.video-container h2 {
  font-size: 1.3em;
  padding-left: 10px;
}

div.video-container h2::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f35a";
  color: gray;
  padding-left: 5px;
}

div.video-container h2 a {
  font-size: 1em;
  font-weight: 700;
  /*text-transform: uppercase;*/
  text-decoration: none;
  color: rgb(100, 97, 97);
}

.video-artist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* border: 1px solid #c4c1c1; */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.data-artist:hover {
  border: 1px solid #383838;
  background-color: #f8f8f8;
}

.data-artist img {
  width: 0.9em;
}

.data-artist h5 {
  font-size: 0.75em;
  color: rgb(160, 160, 160);
  display: inline-block;
}

.data-artist {

  border: 1px solid #c4c1c1;
  padding: 15px 15px 5px;
  border-radius: 5px;
  width: 100%;
}

.data-artist p {
  font-size: 13px;
}

.data-artist span {
  font-size: 15px;
  font-weight: 500;
}

.div-artist {
  display: none;
}

.div-video {
  width: 100%;
}

.div-video img {
  width: 100%;

}

.div-video a {
  cursor: pointer;
}


.btnProfile {
  text-align: center;
  display: inline-block;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnProfile a {
  background: white;
  color: black;
  padding: 8px 7px;
  font-size: 0.75em;
  text-decoration: none;
  border: #000 solid 0.5px;
  border-radius: 2px;
}

.btnToHire {
  text-align: center;
  display: inline-block;
  padding-bottom: 20px;
}

.btnToHire a {
  background: #2696e9;
  color: white;
  padding: 8px 7px;
  font-size: 0.75em;
  text-decoration: none;
  border: #2696e9 solid 0.5px;
  border-radius: 2px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
  background: #000;
  color: white;
  text-align: center;
  
}

footer p {
  padding: 20px;
}

.logout-form {
  display: inline-block;
}

@media (min-width: 768px) {
  

  /* #login-img:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
  } */

  #login-img {
    width: 40px;
  }

  .hidden {
    display: block;
  }

  .home .content h1 {
    font-size: 4em;
    letter-spacing: 5px;
    line-height: 75px;
  }

  .home {
    padding: 100px 50px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
  }

  .home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }

  .home .media-icons {
    right: 60px;
  }

  .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  /* .menu-btn {
    display: none;
  } */

  .container .box {
    width: 275px;
    height: 275px;
  }

  .icons-booking {
    width: 33.33%;
  }

  div.video-container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px;
  }

  .video-artist {
    width: 100%;
  }

  .data-artist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #c4c1c1;
    padding: 15px 15px 5px;
    border-radius: 5px;
    width: 100%;
  }

  .description {
    display: inline-block;
    order: 2;
    width: 100%;
  }

  .div-artist {
    display: inline-block;
    order: 1;
  }

  .div-artist img {
    width: 170px;
    padding-right: 10px;
  }

  .div-video {
    display: inline-block;
    order: 3;
  }

  .div-video img {
    width: 350px;
    padding-left: 30px;
  }

  .img-artist-travel {
    width: 100px;
    padding-left: 40px;
  }

  .btnProfile a {
    padding: 8px 5px;
    font-size: 0.7em;

  }
  
  .btnToHire a {
    padding: 8px 5px;
    font-size: 0.7em;
  }

}

@media (min-width: 1024px) {
  

  #login-img:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
  }

  .hidden {
    display: block;
  }

  .home .content h1 {
    font-size: 4em;
    letter-spacing: 5px;
    line-height: 75px;
  }

  .home {
    padding: 100px 50px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
  }

  .home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }

  .home .media-icons {
    right: 60px;
  }

  .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  .menu-btn {
    display: none;
  }

  .type-header {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 1.5em;
  }

  .product {
    padding: 20px 20px;
  }

  .container .box {
    width: 275px;
    height: 275px;
  }

  .icons-booking {
    width: 33.33%;
  }

  .video-artist {
    width: 95%;
  }

  .data-artist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #c4c1c1;
    padding: 15px 15px 5px;
    border-radius: 5px;
    width: 100%;
  }

  .description {
    display: inline-block;
    order: 2;
  }

  .div-artist {
    display: inline-block;
    order: 1;
  }

  .div-artist img {
    width: 190px;
    padding-right: 20px;
  }

  .div-video {
    display: inline-block;
    order: 3;
  }

  .div-video img {
    width: 350px;
    padding-left: 14px;
  }

  .img-artist-travel {
    width: 250px;
    padding-left: 40px;
  }

  .btnProfile a {
    padding: 8px 7px;
    font-size: 0.75em;

  }
  
  .btnToHire a {
    padding: 8px 7px;
    font-size: 0.75em;
  }

  .btnProfile {
    text-align: center;
    display: inline-block;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
  .btnToHire {
    text-align: center;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
}

@media (min-width: 1440px) {
  

  #login-img:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
  }

  .hidden {
    display: block;
  }

  .home .content h1 {
    font-size: 4em;
    letter-spacing: 5px;
    line-height: 75px;
  }

  .home {
    padding: 100px 50px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
  }

  .home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }

  .home .media-icons {
    right: 60px;
  }

  .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  .menu-btn {
    display: none;
  }

  .type-header {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 1.5em;
  }

  .product {
    padding: 20px 20px;
  }

  .container .box {
    width: 275px;
    height: 275px;
  }

  .icons-booking {
    width: 33.33%;
  }

  .video-artist {
    width: 65%;
  }
  .data-artist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid #c4c1c1;
    padding: 15px 15px 5px;
    border-radius: 5px;
    width: 100%;
  }

  .description {
    display: inline-block;
    flex-grow: 2;
    order: 2;
  }

  .div-artist {
    display: inline-block;
    order: 1;
  }

  .div-artist img {
    width: 190px;
    padding-right: 20px;
  }

  .div-video {
    display: inline-block;
    order: 3;
  }

  .div-video img {
    width: 350px;
    padding-left: 14px;
  }

  .img-artist-travel {
    width: 250px;
    padding-left: 40px;
  }


  .btnProfile {
    text-align: center;
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btnToHire {
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
  }
}

@media (min-width: 1920px) {

  .video-artist {
    width: 50%;
  }

  #login-img:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
  }
}

