@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: black;
    position: fixed;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
}

header .navigation {
    display: none;
}

header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}

header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
}

.menu-btn {
    background: url(/images/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.Bienvenidos {
    padding: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 0.80em;
}

.top-header2 {
    padding-top: 50px, 85px, 10px, 10px;
    text-align: center;
    color: black;
    font-size: 0.80em ;
}

.Ingresa {
    padding:10px;
    text-align: center;
    color: black;
}

.password {
    height: 50px;
    padding: 10px;
    padding-right: 48px;
    text-align: center;
    color: black;
}

.recuerdame{
    padding: 10px;
    height: 50px;
text-align: center;
}

.button {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button a {
    background: #2696e9;
    padding: 10px 10px;
    color: white;
    font-size: 0.70em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.iniciar-sesion {
    text-align: center;
    margin-top: 15px;
    background-color: rgb(46, 46, 241);
    margin-bottom: 15px;
    padding-left: 12px;
    width: 50%;
    padding-top: 30px;
    margin-right: 60%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.facebook{
    background-color: black;
}
.olvidaste{
    padding: 10px;
}

.politica{
    font-size: 15px;
    padding: 10px;
    padding-top: 80px;
}

.footer {
    background-color: black;
    padding: 30px;
}