@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
}

header .navigation {
  display: none;
}

.hidden {
  display: none;
}

header .navigation.active {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(1, 1, 1, 0.5);
}

header .navigation .navigation-items a {
  color: #222;
  font-size: 1.2em;
  margin: 20px;
}

header .navigation .navigation-items a:before {
  background: #222;
  height: 5px;
}

header .navigation.active .navigation-items {
  background: #fff;
  width: 600px;
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.menu-btn {
  background: url(/images/menu.png) no-repeat;
  background-size: 30px;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn.active {
  z-index: 999;
  background: url(/images/close.svg) no-repeat;
  background-size: 25px;
  background-position: center;
  transition: 0.3s ease;
}

.product {
    padding: 10px 10px;
  }
 
  section .container {
    justify-content: center;
    align-items: center;
    min-height: 10vh;
  }
  
  section.videos {
    padding-top: 10px;
  }
  .container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .container .box {
    margin-top: 50px;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
    
  .container .box .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
  }
  
  .container .box .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .box .imgBox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #2696e9, #000);
    mix-blend-mode: multiply;
    opacity: 0;
  }
  
  .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 10px;
    align-items: flex-end;
  }
  
  .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
  }
 
  .container .box .content a {
    text-decoration: none;
  }
 

  .container .box {
    width: 150px;
    height: 150px;
  }


@media (min-width: 768px) {
  header {
    padding: 12px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
  }

  section {
    padding: 10px 10px;
  }

  .home .media-icons {
    right: 15px;
  }

  .home .media-icons {
    right: 30px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .hidden {
    display: block;
  }

  .home .content h1 {
    font-size: 4em;
    letter-spacing: 5px;
    line-height: 75px;
  }

  .home {
    padding: 100px 50px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
  }

  .home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }

  .home .media-icons {
    right: 60px;
  }

  .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  /* .menu-btn {
    display: none;
  } */

  .container .box {
    width: 275px;
    height: 275px;
  }

  .icons-booking {
    width: 33.33%;
  }

}

@media (min-width: 1024px) {
  header {
    padding: 15px 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
  }

  header .navigation {
    display: block;
    position: relative;
  }

  header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
 }

  header .navigation .navigation-items a:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
/*
  header .navigation .navigation-items a:hover:before {
    width: 100%;
  }
*/
  .hidden {
    display: block;
  }

  .home .content h1 {
    font-size: 4em;
    letter-spacing: 5px;
    line-height: 75px;
  }

  .home {
    padding: 100px 50px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696e9;
  }

  .home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
  }

  .home .media-icons {
    right: 60px;
  }

  .video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  .menu-btn {
    display: none;
  }

  .type-header {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 1.5em;
  }

  .product {
    padding: 20px 20px;
  }

  .container .box {
    width: 275px;
    height: 275px;
  }

  .icons-booking {
    width: 33.33%;
  }
}
