body {
    background-image: url('/images/guitar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.classBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyTitulo {
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
 }

 .bodyTitulo h1{
    font-size: 50px;
 }

 .bodyParrafo {
    color: white;
    width: 42%;
    position: relative;
    text-align: center;
}

.bodyParrafo p{
    padding: 0px;
    margin: 0px;
    font-size: 21px;
}

.regpro{
    margin-right: 150px;
    margin-top: 25px;
    align-self: right;
    text-align: right;
    color: white;
    margin-bottom: 10px;
}
.regtxt{
    display: flex;
    flex-direction: column;
    align-items:center;
    color: white;
    margin-right: 200px;
}

.regtxt label{
    align-self: flex-end;
    width: 20%;
    margin-top: 10px;
    
}
.regtxt input{
    align-self: flex-end;
    width: 20%;
        
}

button{
    margin-top: 15px;
    align-self:flex-end;
    border-radius: 6px;
    background-color: lightblue;
    margin-right: 150px;
    
}