@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
    background-color: lightblue;
   
 }

.classBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyTitulo {
    text-align: center;
    margin-top: 60px;
    font-style: italic;
    font-size: 1.3em;
 }

 .bodyTitulo h1{
    font-size: 50px;
 }

 .bodyParrafo {
    display: none;
}

.regpro{
    margin: 25px auto;
    text-align: left;
    width: 200px;
}

.regpro label{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.regtxt{
    margin: 10px auto;
    text-align: center;
    padding: 0px;
    width: 200px;
    align-self: center;
    
}

.regtxt label{
    display: block;
    padding: 0px;
    margin-top: 5px;
    font-size: 0.8em;
    text-align: left;
}
.regtxt input{
    padding: 0px;
    margin: 0px;
    width: 100%;
    
}

.formButton{
    margin-top: 15px;
    text-align: center;
}

.formButton button {
    margin-right: 5px;
}

footer {
    margin-top: 60px;
    background: #000;
    color: white;
    text-align: center;
  }
  
  footer p {
    padding: 20px;
  }

  @media (min-width: 768px) {

    body {
       
        background-image: url(/images/guitar.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100vw;
           
    }

    .divFormulario {
        display: flex;
        flex-direction: column;
        align-items: end;
        color: white;
        margin-right: 100px;
    }

 
    .bodyTitulo{
        text-align: center;
        color: white;
    }
        
    button{
        background-color: lightblue;
    }
}   

  @media (min-width: 1024px) {
    body {
       
        background-image: url(/images/guitar.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100vw ;
       /* object-fit:contain; */    }

       .bodyParrafo {
        display: block;
        color: white;
    }

    footer {
        position: absolute;
        bottom: 0px;
        width: 100vw;
        margin-top: 60px;
        background: #000;
        color: white;
        text-align: center;
        padding: 0px;
        
      }
  }