body{
    background-repeat: no-repeat;
    background-position-x: 35% ;
    background-position-y: 20%;

    background-image: url('./images/guitarra.jpg');
}
h1{ 
    text-align: center;
    color: rgb(200, 80, 0);
    width: 100%;
    font-size: 40px;}

.parrafo {
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}
p {  
    width: 50%;
    margin: 10px;
    color: rgb(200, 80, 0);
    font-size: 30px;
    text-align: left;

}

.listaItems li{
    color: rgb(200, 80, 0);
    margin-top: 40px;
    font-weight: bold;
}
ul{
    list-style-image: url('/public/images/guitarra.jpg'); 
}