@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body main .container{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;

}

body main div.container-users {
  padding-top: 100px;
  width: 100%;
  padding-bottom: 200px;
}

.btnAddUser {
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btnAddUser a {
  background: #2696e9;
  color: white;
  padding: 8px 12px;
  font-size: 1.1em;
  text-decoration: none;
  border: #2696e9 solid 0.5px;
  border-radius: 2px;
}

footer {
 width: 100%;

}

#userSearch {
  width: 100%; 
  font-size: 16px; 
  padding: 12px 20px 12px 20px; 
  border: 1px solid rgb(195, 197, 199); 
  margin-top: 10px;
  margin-bottom: 20px; 
}

#errors {
  text-align: left;
  margin-bottom: 5px;
  color: tomato;
  
}

@media (min-width: 768px) {
  #userSearch {
    width: 40%; 
  }
}

@media (min-width: 1024px) {
  #userSearch {
    width: 30%; 
  }
}

@media (min-width: 1920px) {
 
}

