<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtisVenue | Contrata tu banda</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/car.css" />
  </head>

<body>
  <header>
    <a href="#" class="brand">ArtistVenue</a>
    <div class="menu-btn"></div>

    <div class="navigation">
      <div class="navigation-items">
        <a href="#">Buscar Músicos</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
        <a href="#">Ingresar</a>
      </div>
    </div>
  </header>
  
  <div id="content">		
		<section id="principal">
			<h2>Nombre de banda</h2>
			
			<form class = "formPedido" method = "POST">
				<div class="field">Numero Pedido:<input class="text" type="text" name="pedido"></div>
				<div class="field">Ciudad:<input type="text" name="ciudad"></div>
				<div class="field">Fecha de evento:<input type="date" name="Fcreacion"></div>
				<div class="field">Hora de evento:<input type="text" name="Hora"></div>
				<p></p>
				<div><button type="submit">Consulta</button></div>
			</form>

		</section>		
    <footer>
        <div class="footer"></div>
    </footer>
</body>

</html>