<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtisVenue | Orquestas, Bandas, DJs, Solistas, Grupos!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <a href="#" class="brand">ArtistVenue</a>
      <div class="menu-btn"></div>

      <div class="navigation">
        <div class="navigation-items">
          <a href="#">Buscar Músicos</a>
          <a href="/car">Carrito</a>
          <a href="/register">Registro</a>
          <a href="/login">Ingreso</a>
        </div>
      </div>
    </header>
    <div class="hidden">
      <section class="home">
        <div class="video">
          <video
            class="video-slide active"
            src="/video/home-video/orquesta.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/home-video/solista.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/home-video/dj.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/home-video/banda.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/home-video/mariachi.mp4"
            autoplay
            muted
            loop
          ></video>
        </div>
        <div class="content active">
          <h1>Rumbea.<br /><span>Orquestas</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="content">
          <h1>Deleitate.<br /><span>Solistas</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="content">
          <h1>Vibra.<br /><span>DJs</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="content">
          <h1>Alucina.<br /><span>Bandas</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>

        <div class="content">
          <h1>Identificate.<br /><span>Grupos</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="media-icons">
          <a href="#" aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" aria-label="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </section>
    </div>
    <div class="type-header">
      <h3>¡Tu plataforma digital de contratación de música en vivo!</h3>
    </div>

    <section class="product">
      <div class="container">
        <div class="box">
          <div class="imgBox">
            <img src="/images/home-img/band.jpg" alt="band" />
          </div>
          <div class="content">
            <div>
              <h2>Bandas</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBox">
            <img src="/images/home-img/solist.jpg" alt="solist" />
          </div>
          <div class="content">
            <div>
              <h2>Solistas</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBox">
            <img src="/images/home-img/conjuntos.jpg" alt="conjuntos" />
          </div>
          <div class="content">
            <div>
              <h2>Conjuntos</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBox">
            <img src="/images/home-img/djs.jpg" alt="djs" />
          </div>
          <div class="content">
            <div>
              <h2>DJs</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <a href="/">Ver todos los artistas</a>
      </div>
    </section>

    <!-- bookings -->
    <div class="bookings">
      <div class="statistic">
        <p>Accede a nuestra comunidad sin fronteras</p>
        <p class="members">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
          quis optio nam maiores natus officia quos libero earum consequatur. In
          omnis nulla voluptas veniam commodi, incidunt molestiae ullam ad
          deleniti.
        </p>
        <div class="trends">
          <div class="icons-booking">
            <img
              class="img-schedule"
              src="/images/home-img/schedule.svg"
              alt="schedule"
            />
            <p>+3000</p>
            <p class="text-booking">Reservas</p>
          </div>

          <div class="icons-booking">
            <img
              class="img-micro"
              src="/images/home-img/microphone.svg"
              alt="micro"
            />
            <p>+1000</p>
            <p class="text-booking">Artistas</p>
          </div>

          <div class="icons-booking">
            <img
              class="img-star"
              src="/images/home-img/rating-star.svg"
              alt="star"
            />
            <p>9.5</p>
            <p class="text-booking">Valoración del cliente</p>
          </div>
        </div>
      </div>
    </div>

    <!-- register ad -->
    <div class="register">
      <div class="statistic">
        <div class="trends2">
          <div class="register-text">
            <p class="members">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur cumque, obcaecati quia hic iste blanditiis laudantium
              et saepe libero! Numquam quam id a assumenda cumque provident
              exercitationem tenetur veritatis vero.
            </p>
            <div class="btnReg">
              <a href="/">Regístrate</a>
            </div>
          </div>
          <div class="register-text2">
            <p class="members">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id
              corrupti tempora vero laudantium? Non facere laboriosam
              exercitationem rem quasi quos eveniet doloribus mollitia explicabo
              a! Similique fugit nemo sint id.
            </p>
            <div class="btnReg">
              <a href="/">Peticiones</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- video artist -->
    <section class="videos">
      
      <div class="video-container">
        <h2><a href="/">Una selección de nuestros músicos</a></h2>
        
        <div class="video-artist">
          <div class="data-artist">
            <div class="div-artist">
              <img class="img-artist" src="/images/home-img/our.jpg" alt="our" />
            </div>
            <div class="iframe-div">
              <iframe
                src="https://www.youtube.com/embed/m0zJsAFzvys"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="description">
              <span>Our Last Night</span>
              <p>Lorem ipsum dolor sit amet.</p>
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <h5>(26)</h5>
              <p>Phasellus nulla risus, suscipit ac</p>
              <p>$200 - $500</p>
              <div class="btnProfile">
                <a href="/">Ver perfil</a>
              </div>
              <div class="btnToHire">
                <a href="/">Contratar Banda</a>
              </div>
            </div>
          </div>
        </div>
        <div class="video-artist">
          <div class="data-artist">
            <div class="div-artist">
              <img class="img-artist" src="/images/home-img/drew.jpg" alt="our" />
            </div>
            <div class="iframe-div">
              <iframe
                src="https://www.youtube.com/embed/p4gTbMrnpUM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="description">
              <span>Drew Angus</span>
              <p>Lorem ipsum dolor sit amet.</p>
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <h5>(47)</h5>
              <p>Phasellus nulla risus, suscipit ac</p>
              <p>$200 - $500</p>
              <div class="btnProfile">
                <a href="/">Ver perfil</a>
              </div>
              <div class="btnToHire">
                <a href="/">Contratar Artista</a>
              </div>
            </div>
          </div>
        </div>
        <div class="video-artist">
          <div class="data-artist">
            <div class="div-artist">
              <img class="img-artist-louder" src="/images/home-img/louder.jpg" alt="our" />
            </div>
            <div class="iframe-div">
              <iframe
                src="https://www.youtube.com/embed/FarrGhX9oPk"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="description">
              <span>Loudersoul</span>
              <p>Lorem ipsum dolor sit amet.</p>
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <h5>(35)</h5>
              <p>Phasellus nulla risus, suscipit ac</p>
              <p>$200 - $500</p>
              <div class="btnProfile">
                <a href="/">Ver perfil</a>
              </div>
              <div class="btnToHire">
                <a href="/">Contratar Banda</a>
              </div>
            </div>
          </div>
        </div>
        <div class="video-artist">
          <div class="data-artist">
            <div class="div-artist">
              <img class="img-artist" src="/images/home-img/leo.jpg" alt="our" />
            </div>
            <div class="iframe-div">
              <iframe
                src="https://www.youtube.com/embed/ahhNuopGMEk"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="description">
              <span>Leo Moracchioli</span>
              <p>Lorem ipsum dolor sit amet.</p>
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <h5>(65)</h5>
              <p>Phasellus nulla risus, suscipit ac</p>
              <p>$200 - $500</p>
              <div class="btnProfile">
                <a href="/">Ver perfil</a>
              </div>
              <div class="btnToHire">
                <a href="/">Contratar Artista</a>
              </div>
            </div>
          </div>
        </div>
        <div class="video-artist">
          <div class="data-artist">
            <div class="div-artist">
              <img class="img-artist" src="/images/home-img/travel.jpg" alt="our" />
            </div>
            <div class="iframe-div">
              <iframe
                src="https://www.youtube.com/embed/yzzWW9uKqxE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="description">
              <span>Music Travel Love</span>
              <p>Lorem ipsum dolor sit amet.</p>
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <img src="/images/home-img/star-full.svg" alt="star-full" />
              <h5>(58)</h5>
              <p>Phasellus nulla risus, suscipit ac</p>
              <p>$200 - $500</p>
              <div class="btnProfile">
                <a href="/">Ver perfil</a>
              </div>
              <div class="btnToHire">
                <a href="/">Contratar Banda</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <script src="/js/script.js"></script>
  </body>
</html>
