<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtisVenue | Orquestas, Bandas, DJs, Solistas, Grupos!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="#" class="brand">ArtistVenue</a>
      <div class="menu-btn"></div>

      <div class="navigation">
        <div class="navigation-items">
          <a href="#">Buscar Músicos</a>
          <a href="#">Nosotros</a>
          <a href="#">Contacto</a>
          <a href="#">Ingresar</a>
        </div>
      </div>
    </header>
    <div class="hidden">
      <section class="home">
        <div class="video">
          <video
            class="video-slide active"
            src="/video/orquesta.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/solista.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/dj.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/banda.mp4"
            autoplay
            muted
            loop
          ></video>
          <video
            class="video-slide"
            src="/video/mariachi.mp4"
            autoplay
            muted
            loop
          ></video>
        </div>
        <div class="content active">
          <h1>Rumbea.<br /><span>Orquestas</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="content">
          <h1>Deleitate.<br /><span>Solistas</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="content">
          <h1>Vibra.<br /><span>DJs</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="content">
          <h1>Alucina.<br /><span>Bandas</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>

        <div class="content">
          <h1>Identificate.<br /><span>Grupos</span></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
            illum libero.
          </p>
          <a href="#"> Contrata </a>
        </div>
        <div class="media-icons">
          <a href="#" aria-label="Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" aria-label="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </section>
    </div>
    <div class="type-header">
      <h3>¡Tu plataforma digital de contratación de música en vivo!</h3>
    </div>

    <section class="product">
      <div class="container">
        <div class="box">
          <div class="imgBox">
            <img src="/images/band.jpg" alt="band" />
          </div>
          <div class="content">
            <div>
              <h2>Bandas</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBox">
            <img src="/images/solist.jpg" alt="solist" />
          </div>
          <div class="content">
            <div>
              <h2>Solistas</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBox">
            <img src="/images/conjuntos.jpg" alt="conjuntos" />
          </div>
          <div class="content">
            <div>
              <h2>Conjuntos</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBox">
            <img src="/images/djs.jpg" alt="djs" />
          </div>
          <div class="content">
            <div>
              <h2>DJs</h2>
              <a href="#"><p>Ver listado</p></a>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <a href="/">Ver todos los artistas</a>
      </div>
    </section>

    <!-- bookings -->
    <div class="bookings">
      <div class="statistic">
        <p>Accede a nuestra comunidad sin fronteras</p>
        <p class="members">
          Reserva una banda, un DJ o un solista con ArtisVenue. Ponte en
          contacto directo con el artista. Nuestra iniciativa está financiada
          por una comunidad de miembros PRO, promocionando transparencia en la
          industria musical.
        </p>
        <div class="trends">
          <div class="icons-booking">
            <img class="img-schedule" src="/images/schedule.svg" alt="schedule" />
            <p>+3000</p>
            <p class="text-booking">Reservas</p>
          </div>

          <div class="icons-booking">
            <img class="img-micro" src="/images/microphone.svg" alt="micro" />
            <p>+1000</p>
            <p class="text-booking">Artistas</p>
          </div>

          <div class="icons-booking">
            <img class="img-star" src="/images/rating-star.svg" alt="star" />
            <p>9.5</p>
            <p class="text-booking">Valoración del cliente</p>
          </div>
        </div>
      </div>
    </div>

    <!-- register ad -->
    <div class="register">
      <div class="statistic">
        <div class="trends2">
          <div class="register-text">
            <p class="members">
              ¿Eres un artista en busca de más conciertos? Creando un perfil de
              artista en ArtistVenue, ¡las oportunidades de actuaciones en vivo
              son infinitas!
            </p>
            <div class="btnReg">
              <a href="/">Regístrate</a>
            </div>
          </div>
          <div class="register-text2">
            <p class="members">
              Cuando haces una petición, accedes a nuestra ecléctica comunidad
              de artistas y nuestro equipo local buscará el músico perfecto para
              tu evento. En ArtistVenue puedes reservar música en directo ahora,
              sin comisiones adicionales.
            </p>
            <div class="btnReg">
              <a href="/">Peticiones</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="videos">
      <div class="video-container">
        <h2><a href="/">Una selección de nuestros músicos</a></h2>
        
        <div class="video-artist">

        </div>
      </div>
    </section>

    <footer>
      <p>Footer</p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
