<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <h1>Registrate en ArtistVenue</h1>
    <div class="parrafo">
        <p>Únete a la plataforma más grande para la contratación de música en vivo y aumenta tus posibilidades de conseguir eventos.</p>
    </div>    
    <div class="listaItems">
        <ul>
            <li>Perfil Gratis</li>
            <li>Más Contrataciones</li>
            <li>Sin Comisiones</li>
            <li>Cuenta Pro</li>
        </ul>
    </div>
    <form action="">
        <label for="RadioPro">Registro Profesional</label>
        <input type="radio" name="tipoRegistro" id="RadioPro" value="Profesional">
        <label for="RadioUsu">Registro de Usuario</label>
        <input type="radio" name="tipoRegistro" id="RadioUsu" value="Usuario">
        <label for="email">Correo</label>
        <input type="email" name="email" id="email" placeholder="ejemplo@gmail.com" >
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password">
        <label for="confPassword">Confirmar Contraseña</label>
        <input type="password" name="confPassword" id="confPassword">

        

    </form>
</body>