<header>
    <a href="/" class="brand">ArtistVenue</a>
    <div class="menu-btn"></div>

    <div class="navigation">
      <div class="navigation-items">
        <a href="#">Buscar Músicos</a>
        <a href="/car">Carrito</a>
        <a href="/register">Registro</a>
        <a href="/login">Ingreso</a>
      </div>
    </div>
  </header>