<header>
    <a href="/" class="brand">ArtistVenue</a>
    <div class="menu-btn"></div>

    <div class="navigation">
      <div class="navigation-items">
        
        <a href="#">Buscar Músicos</a>
        <a href="/products/cart">Carrito</a>
        <a href="/users/register">Registrarte</a>
        <a href="/users/logout">Logout</a>
        <img id="login-img" src="/images/profile/<%= user.image %>" alt="">

        
      </div>
    </div>
  </header>