<header>
    <a href="/" class="brand">ArtistVenue</a>
    <div class="menu-btn"></div>

    <div class="navigation">
      <div class="navigation-items">
        <a href="#">Buscar Músicos</a>
        <a href="/products/cart">Carrito</a>
        <a href="/users/register">Registrarte</a>
        <a href="/users/login">Ingresar</a>
      </div>
    </div>
  </header>