<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/userDetail.css" />
  <%- include('../partials/header') %>
  <body>
    <main>
      <form action="/products" method="POST" enctype="multipart/form-data">
        <div class="detail-container">
          <div class="profile">
            <div class="title-card">
              <div class="title">
                <h3>Imagen de Usuario</h3>
              </div>
            </div>
            <!-- avatar -->
            <div class="avatar">
              <img
                class="avatar-img"
                src="http://bootdey.com/img/Content/avatar/avatar1.png"
                alt=""
              />
              <h3>JPG o PNG no mas grande de 5 MB</h3>
              <div class="btnUpload">
                <a href="/">Subir Imagen</a>
              </div>
            </div>
          </div>

          <div class="profile">
            <div class="title-card">
              <div class="title">
                <h3>Detalle Cuenta</h3>
              </div>
            </div>
            <div class="form-elements">
              <input
                type="text"
                name="name"
                placeholder="Nombre"
                required
                minlength="5"
              />
              <input
                type="text"
                name="user"
                placeholder="Apellido"
                required
                minlength="5"
              />
              <input
                type="text"
                name="user"
                placeholder="Ciudad"
                required
                minlength="5"
              />
              <input
                type="text"
                name="user"
                placeholder="Pais"
                required
                minlength="5"
              />
              <input
                type="email"
                name="email"
                placeholder="E-mail"
                required
                minlength="5"
              />
              <br />
              <input
                type="password"
                name="password"
                placeholder="Contraseña"
                required
                minlength="5"
              />

              <input
                type="password"
                name="repassword"
                placeholder="Repetir Contraseña"
                required
                minlength="5"
              />
            </div>

            <div class="save">
              <button type="submit" class="btnSave">Guardar Usuario</button>
            </div>
          </div>
        </div>
      </form>
      <%- include('../partials/footer') %>
    </main>
 
    <script src="/js/popup.js"></script>
  </body>
</html>
