<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtisVenue | Login</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="1059612143471-vu5ohlt4jtqggm9iu05epebq7frrhdm7.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <main>
      <div class="login">
        <form>
          <div class="img">
            <img src="/images/favicon.ico" alt="" />
          </div>

          <h2 class="title">ArtistVenue</h2>
          <p class="register">
            No tienes una cuenta? <a href="#"> Registrate</a>
          </p>

          <div class="google">
            <div
              class="g-signin2"
              data-onsuccess="onSignIn"
              data-theme="dark"
              data-width="280"
              data-height="45"
              data-longtitle="true"
            ></div>
            <!-- <button type="button" class="login-with-google-btn" >
              Ingresa con Google
            </button> -->
          </div>

          <p class="else"><span>o</span></p>

          <div class="email">
            <label for="email"> <b>Email</b></label>
            <input
              type="text"
              placeholder="Ingresar tu Email"
              name="mail"
              required
            />
            <label for="psw"><b>Password</b></label>
            <input
              type="password"
              placeholder="Ingresa tu Password"
              name="psw"
              required
            />
          </div>
          <button class="btnEnter">Ingresa</button>
          <a class="forgetPass" href="#">Olvidaste tu password?</a>
        </form>
      </div>
    </main>
    <script src="/js/auth2.js"></script>
  </body>
</html>
