<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtistVenue | Login</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"
    ></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <main>
      <div class="login">
        <form action="#" method="POST">
          <div class="card text-center" style="width: 300px">
            <div class="card-header h5 text-white bg-primary">
              Reestablecer Password
            </div>
            <div class="card-body px-5">
              <p class="card-text py-2">
                Ingrese su cuenta de correo y le enviaremos las instrucciones para que pueda restablecer su contraseña.
              </p>
              <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Email</label>
              </div>
              <a href="#" class="btn btn-primary w-100">Reset password</a>
              <div class="d-flex justify-content-between mt-4">
                <a class="" href="/users/login">Login</a>
                <a class="" href="/users/register">Register</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
